# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.venv/
env/

# Whisper models
models/
*.pt

# Hugging Face / SentenceTransformer models
hf_models/

# Local media
videos/
audios/

# Generated transcripts and chunks
transcripts/
chunks/

# Generated embeddings
embeddings.pkl

# Streamlit
.streamlit/secrets.toml

# OS files
.DS_Store
Thumbs.db